<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error{
                color: red
            }
        </style>
    </head>
    <body>

            <div align="left">
                <a href="/newpost">Add new Blog</a>
                <a href="/blog">Main Blog</a>
                <a href="/myblog">My Blog</a>
                <a href="/">Home Page</a>
            </div>
            <div align="right">
                <a href="/login">login</a>
                <a href="/logout">logout</a>
            </div>
            

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}
            
    </body>
</html>
