{% extends "base.html" %} 

{% block content %}
        <h1>Blogs</h1>
        <form method="GET" action="/blogpost">
        {% for blog in blogs%}
            <a href="/blogpost?id={{blog.id}}" name="title">{{blog.title}}</a>
            <p>{{blog.body}}</p>
            {% if main==True %}
                <p>Written by:<a href='/userblog?user={{blog.owner_id}}' name="owner">{{blog.owner_name}}</a></p>
            {% endif %}
        {% endfor%}
        </form>
        <hr />

        {% if blogs|length == 0 %}
        <p>No blogs yet</p>
        {% endif %}


{% endblock %}
